@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
/* font-family: 'Ubuntu', sans-serif; */

:root {
  font-size: 10px;
  --font: "Ubuntu", sans-serif;
  --dark-blue: #093646;
}

@media (max-width: 1400px) {
  :root {
    font-size: 8px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: var(--font);
}

.background-image {
  background-image: url(/images/pexels-pixabay-459225.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

/* DATE */
.date-container {
  font-size: 2.2rem;
  padding: 1.5em 2.5em 0 0;
  text-align: right;
  font-weight: 500;
}

/* SEARCH */
.search-container {
  padding-left: 16em;
}

@media (max-width: 900px) {
  .search-container {
    padding: 0;
    margin-top: 4em;
    text-align: center;
    position: relative;
    left: 32.5px;
  }
}

.search-container form input {
  width: 650px;
  font-size: 2rem;
  height: 65px;
  padding: 1em;
  font-family: var(--font);
  border: none;
  border-radius: 10px;
  color: #777;
}

@media (max-width: 1400px) {
  .search-container form input {
    width: 500px;
  }
}

@media (max-width: 900px) {
  .search-container form input {
    width: 80%;
  }
}

.search-container form button {
  height: 65px;
  width: 65px;
  position: relative;
  right: 67px;
  top: 5px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.search-container form button i {
  position: relative;
  right: 3px;
  font-size: 2.8rem;
  color: var(--dark-blue);
}

/* LOCATION */
#location {
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 0.8em 1.5em;
  border-radius: 5px;
  font-size: 1.6rem;
}

.location {
  margin: 6em 0 3em 0;
  text-align: center;
  display: none;
}

/* RESULTS */
.results-container {
  display: none;
  justify-content: center;
}

@media (max-width: 900px) {
  .results-container {
    margin-bottom: 8em;
  }
}

.results-days-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 200px;
  border-radius: 5px;
}

@media (max-width: 1400px) {
  .results-days-container {
    width: 90%;
    grid-gap: 125px;
  }
}

@media (max-width: 900px) {
  .results-days-container {
    grid-template-columns: 1fr;
    width: 60%;
    grid-gap: 35px;
  }
}

@media (max-width: 600px) {
  .results-days-container {
    width: 80%;
  }
}

.results-day-container {
  border-radius: 10px;
  padding: 2em;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.7);
  background-size: cover;
}

.results-day-container h1 {
  text-align: center;
  font-size: 14rem;
  font-weight: 500;
}

.condition-icon-container {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-top: 0.8em;
}

.condition-icon-container img {
  position: relative;
  top: -15px;
  left: 10px;
}

.results-day-container ul {
  margin-top: 1em;
}

.results-day-container ul li {
  font-weight: 600;
  margin-bottom: 0.8em;
  font-size: 2rem;
}
